<!DOCTYPE html>
<html data-theme="ecfobooks">
  <head>
    <title>ecfoBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <!-- Plaid Link -->
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html>
